dataset/
malaria/
svm_model/svm_model.pkl
svm_model/extracted_features
resnet_model/resnet_models
resnet_model/resnet_models.zip
effnet_binary_classification/efficientnet_models
eff_test/efficientnet_models
random_forest_model/trained_models
effnet_multi_classification/effnet_models
random_forest_model/detections
svm_model/trained_models